.container-drag {
    text-align: center;
}

.toDo {
    position: absolute;
    width: 150px;
    height: 100vh;
    left: 0;
    top: 10;
    background-color: #eeeeee;
    border-right: 1px dotted;
}

.doing {
    position: absolute;
    width: 150px;
    height: 100vh;
    left: 150px;
    top: 10;
    background-color: #eeeeee;
    border-right: 1px dotted;
}

.task-header {
    display: inline-block;
    background-color: skyblue;
    width: 100%;
}

.done {
    position: absolute;
    width: 150px;
    height: 100vh;
    left: 300px;
    top: 10;
    background-color: #eeeeee;
    border-left: 1px dotted;
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 5px auto;
    border: 1px black solid;
    line-height: 5em;
}