.side-menu {
    height: 100vh;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    border: 1px blue;
    position: fixed;
    right: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(+100%);
  }
  
  .side-menu.open {
    transform: translateX(0);
  }

  #createForm {
      margin-top: 30px;
  }

  .inputfield { 
      margin-bottom: 20px;
      margin-top: 5px;
  }